stages:
    - test
    - package
    - deploy

variables:
    WS_ARTIFACT_PATH: eva-accession-ws/target/eva-accession-ws-$ENVIRONMENT_NAME.war
    CLUSTERING_ARTIFACT_PATH: eva-accession-clustering/target/eva-accession-clustering-*.jar
    MAVEN_SETTINGS: maven-settings.xml
    URL_MAVEN_SETTINGS: https://api.github.com/repos/EBIvariation/configuration/contents/eva-maven-settings.xml
    MEDIA_TYPE: application/vnd.github.raw
    VARIABLES_FILE: variables.txt

test:
    stage: test
    image: maven:3.6.1-jdk-8-alpine
    services:
        - mongo:3.2.17
    script:
        # Gitlab exposes services under their own hostnames. So test host should be "mongo" instead of "localhost".
        - mvn clean test --projects 'eva-accession-core,eva-accession-ws' -Deva.mongo.host.test=mongo
    environment:
        name: test-env
    only:
        - master
        - tags
        - feature/use-maven-settings-config-file

# Not executed, parent job definition for package
.package:
    stage: package
    image: maven:3.6.1-jdk-8-alpine
    environment:
        name: $ENVIRONMENT_NAME
    before_script:
        - DATETIME=$(date +%Y-%m-%dT%H-%M-%S)
        - echo "export DATETIME=$DATETIME" > $VARIABLES_FILE
        - apk add --update curl
        - curl -u $GITHUB_USER:$GITHUB_TOKEN -H "Accept:$MEDIA_TYPE" $URL_MAVEN_SETTINGS > $MAVEN_SETTINGS
    script:
        - mvn package --projects 'eva-accession-core,eva-accession-ws,eva-accession-clustering ' --settings $MAVEN_SETTINGS -P $MAVEN_PROFILE -DskipTests -Dtimestamp=$DATETIME
        - cp eva-accession-ws/target/eva*.war $WS_ARTIFACT_PATH
    after_script:
        - rm $MAVEN_SETTINGS
    artifacts:
        paths:
            - $WS_ARTIFACT_PATH
            - $CLUSTERING_ARTIFACT_PATH
            - $VARIABLES_FILE

package-internal:
    extends: .package
    variables:
        ENVIRONMENT_NAME: internal
        MAVEN_PROFILE: internal
    only:
        - master
        - feature/use-maven-settings-config-file

package-development:
    extends: .package
    variables:
        ENVIRONMENT_NAME: development
        MAVEN_PROFILE: development
    only:
        - master
        - feature/use-maven-settings-config-file

package-production:
    extends: .package
    variables:
        ENVIRONMENT_NAME: production
        MAVEN_PROFILE: production
    only:
        - tags

# Not executed, parent job definition for deployments
.deploy-tomcat:
    stage: deploy
    image: alpine:3.9.5
    environment:
        name: $ENVIRONMENT_NAME
    script:
        - source $VARIABLES_FILE
        - apk add --update curl
        - curl -u $TOMCAT_USER:$TOMCAT_PASSWORD -T "$WS_ARTIFACT_PATH" "http://$TOMCAT_HOST/manager/text/deploy?update=true&path=/eva/webservices/identifiers&version=$DATETIME" | grep "OK - Deployed application"

deploy-tomcat-internal:
    extends: .deploy-tomcat
    variables:
        ENVIRONMENT_NAME: internal
        TOMCAT_USER: $TOMCAT_INTERNAL_USER
        TOMCAT_PASSWORD: $TOMCAT_INTERNAL_PASSWORD
        TOMCAT_HOST: $TOMCAT_INTERNAL_HOST
    dependencies:
        - package-internal
    only:
        - master
        - feature/use-maven-settings-config-file

deploy-tomcat-development:
    extends: .deploy-tomcat
    variables:
        ENVIRONMENT_NAME: development
        TOMCAT_USER: $TOMCAT_DEVELOPMENT_USER
        TOMCAT_PASSWORD: $TOMCAT_DEVELOPMENT_PASSWORD
        TOMCAT_HOST: $TOMCAT_DEVELOPMENT_HOST
    dependencies:
        - package-development
    only:
        - master
        - feature/use-maven-settings-config-file

deploy-tomcat-production:
    extends: .deploy-tomcat
    when: manual
    variables:
        ENVIRONMENT_NAME: production
        TOMCAT_USER: $TOMCAT_PRODUCTION_USER
        TOMCAT_PASSWORD: $TOMCAT_PRODUCTION_PASSWORD
        TOMCAT_HOST: $TOMCAT_PRODUCTION_HOST
    dependencies:
        - package-production
    only:
        - tags

deploy-tomcat-production-fallback:
    extends: .deploy-tomcat
    when: manual
    variables:
        ENVIRONMENT_NAME: production
        TOMCAT_USER: $TOMCAT_PRODUCTION_FALLBACK_USER
        TOMCAT_PASSWORD: $TOMCAT_PRODUCTION_FALLBACK_PASSWORD
        TOMCAT_HOST: $TOMCAT_PRODUCTION_FALLBACK_HOST
    dependencies:
        - package-production
    only:
        - tags

# Not executed, parent job definition for deployments of jar files
.deploy-jar:
    stage: deploy
    image: alpine:3.9.5
    environment:
        name: $ENVIRONMENT_NAME
    script:
        # Start ssh-agent and set identity then copy the Jar file and create a symlink
        # See https://docs.gitlab.com/ee/ci/ssh_keys/
        - apk add --update openssh-client
        - eval "$(ssh-agent)"
        - echo "$EVA_ETL_PRIVATE_KEY" | tr -d '\r' | ssh-add -
        - TMP_NAME=$(basename $(ls $CLUSTERING_ARTIFACT_PATH))
        - CLUSTERING_ARTIFACT_NAME=${TMP_NAME%%.jar}-${ENVIRONMENT_NAME}.jar
        - scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $CLUSTERING_ARTIFACT_PATH ${CLUSTER_USER}@${CLUSTER_LOGIN_NODE}:${CLUSTERING_PATH}/${CLUSTERING_ARTIFACT_NAME}
        - ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${CLUSTER_USER}@${CLUSTER_LOGIN_NODE} "ln -fns ${CLUSTERING_PATH}/${CLUSTERING_ARTIFACT_NAME} ${CLUSTERING_PATH}/eva-accession-clustering.jar"

deploy-jar-development:
    extends: .deploy-jar
    variables:
        ENVIRONMENT_NAME: development
        CLUSTERING_PATH: $CLUSTERING_DEVELOPMENT_PATH
    dependencies:
        - package-development
    only:
        - master

deploy-jar-production:
    extends: .deploy-jar
    when: manual
    variables:
        ENVIRONMENT_NAME: production
        CLUSTERING_PATH: $CLUSTERING_PRODUCTION_PATH
    dependencies:
        - package-production
    only:
        - tags
